#game-on{
  text-align: center ;
  margin: 2rem 0 5rem 0; /*top right bottom left*/
  display: none;
}
#game-over{
  background-color: rgb(72, 77, 148);
  margin: auto;
  width: 90%;
  max-width: 40rem;
  padding: 1rem 2rem ;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: none;
}
#game-over h2{
  font-size: 2.5rem;
  margin: 0.5em 0;
  }
#active-player-name{
  color: rgb(198, 205, 232);
  font-weight: bold;
}

#gameboard{
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,6rem);/*6rem 6rem 6rem*/
  grid-template-rows: repeat(3,6rem);/*6rem 6rem 6rem*/
  list-style: none;
  justify-content: center;
  gap: 0.5rem;
}
#gameboard li{
  background-color: rgb(72, 77, 148);
  border-radius: 2px;
  cursor:pointer ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}
#gameboard li:hover{
   background-color: rgb(5, 5, 58);
}
#gameboard li.disabled{
  background-color: rgb(5, 5, 58);
  color: white;
  cursor: default;
}
