.modal{
  position: fixed;
  top: 18%;
  left: 30%;
  width: 40%;
  background-color: rgb(229, 229, 237);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: none;
  color: rgb(5, 5, 58);
}
#backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
/* 
@media (min-width: 48rem){
  .modal{
    left:calc(50%-20rem);
    width: 40rem;
  }
} */
